.page__hero--overlay {
  height: 600px !important;
}

.page__hero--overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
}

h1, h2, h3, h4 {
  color: #0056b3;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}