<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  {% include head.html %}
  {% include head_custom.html %}
</head>
<body>
  <!-- 大图 -->
  <div class="hero-image">
    <img src="{{ page.hero_image | default: '/assets/images/large.png' }}" alt="V-Lumen Hero Image">
  </div>
  <!-- 页面内容 -->
  <div class="main-content">
    {{ content }}
  </div>
  {% include scripts.html %}
</body>
</html>